$cs_grey : #ebeded;
$cs_black : #232323;

/* Commons */
.cs_clear{
	clear:both;
}

/* Columns */

.cs_column{
	float:left;
	margin-right:4%;
	width:100%;
	
	img{
		height:auto;
	}
}

.cs_one_half{
	width:48%;
}

.cs_one_third{
	width: 31.33333%;
	margin-right:3%;
}

.cs_one_fourth{
	width:23.5%;
	margin-right:2%;
}

.cs_two_thirds{
	width:65.66666%;
}

.cs_three_fourths{
	width:72.5%;
}

.cs_one_half.cs_column_middle{
	margin-right:2%;
}

.cs_column_last{
	margin-right:0;
}

/* Responsive stuff */
@media only screen and (max-width: 480px){
	.cs_column{
		float:none;
		width:100%;
		margin-right:0;
	}
}

/* Messages box */
.cs_message{
	padding: 30px;
	background-color:#f8f8f8;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	
	p{
		margin:0 !important;
		padding:0 !important;
	}
	
	a:hover{
		text-decoration:underline;
	}
	
	&.cs_message_classic{
		background-color:inherit;
		
		p{
			color:inherit;
		}
		
		a, a:hover{
			color:inherit;
		}
	}
	
	&.cs_message_info{
		background-color:#eff8fe;
		
		p{
			color:#5db2f0 !important;
		}
		
		a, a:hover{
			color:#158ce3;
		}
	}
	
	&.cs_message_alert{
		background-color:#fffae9;
		
		p{
			color:#f8ad0d;
		}
		
		a, a:hover{
			color:#ab7605;
		}
	}
	
	&.cs_message_error{
		background-color:#ffeeee;
		
		p{
			color:#fc5355;
		}
		
		a, a:hover{
			color:#c40306;
		}
	}
	
	&.cs_message_success{
		background-color:#ebfaf5;
		
		p{
			color:#38c994;
		}
		
		a, a:hover{
			color:#258763;
		}
	}
}

/* Buttons */

.cs_button{
	
	color:#ffffff !important;
	border:none !important;
	display:inline-block;
	text-align: center;
	margin: 0 0 10px 0;
	
	&:hover{
		text-decoration:none !important;
	}
	
	&.cs_button_purple{
		background-color:#8e44ad;
		
		&:hover{
			background-color:#5c2c70;
		}
	}
	
	&.cs_button_blue{
		background-color:#3498db;
		
		&:hover{
			background-color:#1c6a9e;
		}
	}
	
	&.cs_button_turquoise{
		background-color:#1abc9c;
		
		&:hover{
			background-color:#10715e;
		}
	}
	
	&.cs_button_green{
		background-color:#27ae60;
		
		&:hover{
			background-color:#17693a;
		}
	}
	
	&.cs_button_yellow{
		background-color:#f4d03f;
		
		&:hover{
			background-color:#e2b80d;
		}
	}
	
	&.cs_button_orange{
		background-color:#e67e22;
		
		&:hover{
			background-color:#a15512;
		}
	}
	
	&.cs_button_red{
		background-color:#e74c3c;
		
		&:hover{
			background-color:#b82617;
		}
	}
	
	&.cs_button_pink{
		background-color:#ffa8b4;
		
		&:hover{
			background-color:#ff7588;
		}
	}
	
	&.cs_button_grey{
		background-color:#7f8c8d;
		
		&:hover{
			background-color:#566061;
		}
	}
	
	&.cs_button_nightblue{
		background-color:#2c3e50;
		
		&:hover{
			background-color:#0e1419;
		}
	}
	
	&.cs_button_small{
		padding:5px 10px;
	}
	
	&.cs_button_medium{
		padding:10px 20px;
	}
	
	&.cs_button_large{
		padding:15px 40px;
	}
}

/* Tabs */

.cs_tabs{
	
	width:100%;
	display:inline-block;
	margin:20px 0;
	box-sizing: border-box;
	border:0;
	background:none;
	
	ul.nav{
		
		margin:0 !important;
		padding:0 !important;
		background:none;
		border:none;
		
		li{
			list-style-type:none;
			display:inline-block;
			margin:0 !important;
			padding:0 !important;
			background:$cs_grey;
			float: none;
			position: static;
			top: auto;
			border:none !important;
			
			&.ui-tabs-active,
			&.ui-state-active{
				background:#ffffff;
			}
			
			&.ui-state-hover{
				background:#ffffff;
			}
			
			&:before{
				content:none;
			}
			
			a{
				border: 1px solid $cs_grey;
				border-bottom-color:#fff;
				position: relative;
				display: inline-block;
				padding: 10px 15px !important;
				float:none !important;
				text-decoration:none !important;
				color: $cs_black !important;
				z-index:10;
				cursor:pointer !important;
				
				&:focus{
					outline:none;
				}
				
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	
	.cs_tab_content{
		border: 1px solid $cs_grey;
		padding: 20px;
		top: -1px;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		z-index:5;
		
		p:last-child{
			margin-bottom:0;
		}
	}
}

/* Separators */

.cs_separator{
	
	margin:30px 0;
	width: 100%;
	box-sizing: border-box;
	
	hr{
		display:block;
		width:100%;
		height:0;
		margin:0;
		background:none;
		border: none;
	
		&.cs_separator_solid{
			border-top:2px solid $cs_grey;
		}
		
		&.cs_separator_dashed{
			border-top:2px dashed $cs_grey;
		}
		
		&.cs_separator_dotted{
			border-top:2px dotted $cs_grey;
		}
		
		&.cs_separator_double{
			border-top:2px double $cs_grey;
		}
	}
}

/* Toggle */

.cs_toggle{

	margin:0 0 20px 0;
	width:100%;
	box-sizing: border-box;
	
	p.cs_toggle_button{
		background-color:#ffffff;
		border: 1px solid $cs_grey;
		display: block;
		width:100%;
		box-sizing: border-box;
		margin:0 !important;
		padding: 10px 15px;
		cursor:pointer;
		
		&:before{
			content:'+';
			margin-right: 10px;
		}
		
		&:hover{
			background-color:$cs_grey;
		}
		
		&.toggle-active{
			border-bottom:none;
			background-color:$cs_grey;
			&:before{
				content:'-';
			}
		}
		
		a{
			color: $cs_black !important;
			
			&:hover{
				text-decoration:none;
			}
		}
	}
	
	.cs_toggle_content{
		border: 1px solid $cs_grey;
		padding: 20px;
		width:100%;
		box-sizing: border-box;
	}
}

/* Call to action */

.cs_calltoaction{
	border:1px solid $cs_grey;
	padding:20px;
	margin:0 0 20px 0;
	width:100%;
	box-sizing: border-box;
	
	.cs_calltoaction_content{
		margin:0 0 10px 0;
	}
	
	.cs_button_calltoaction{
		color:#fff !important;
		padding:10px 20px;
		margin:0;
		
		&:hover{
			color:#fff !important;
		}
	}
	
	p:last-child{
		margin:0;
	}
}

