.cs_column{
	float:left;
	margin-right:4%;
	width:100%;
}

.cs_one_half{
	width:48%;
}

.cs_one_third{
	width: 31.33333%;
	margin-right:3%;
}

.cs_one_fourth{
	width:23.5%;
	margin-right:2%;
}

.cs_two_thirds{
	width:65.66666%;
}

.cs_three_fourths{
	width:72.5%;
}

.cs_one_half.cs_column_middle{
	margin-right:2%;
}

.cs_column_last{
	margin-right:0;
}

.cs_clear{
	clear:both;
}