/* Commons */
/* line 5, ../style.scss */
.cs_clear {
  clear: both;
}

/* Columns */
/* line 11, ../style.scss */
.cs_column {
  float: left;
  margin-right: 4%;
  width: 100%;
}

/* line 17, ../style.scss */
.cs_one_half {
  width: 48%;
}

/* line 21, ../style.scss */
.cs_one_third {
  width: 31.33333%;
  margin-right: 3%;
}

/* line 26, ../style.scss */
.cs_one_fourth {
  width: 23.5%;
  margin-right: 2%;
}

/* line 31, ../style.scss */
.cs_two_thirds {
  width: 65.66666%;
}

/* line 35, ../style.scss */
.cs_three_fourths {
  width: 72.5%;
}

/* line 39, ../style.scss */
.cs_one_half.cs_column_middle {
  margin-right: 2%;
}

/* line 43, ../style.scss */
.cs_column_last {
  margin-right: 0;
}

/* Messages box */
/* line 48, ../style.scss */
.cs_message {
  padding: 30px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}
/* line 55, ../style.scss */
.cs_message p {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 60, ../style.scss */
.cs_message a:hover {
  text-decoration: underline;
}
/* line 64, ../style.scss */
.cs_message.cs_message_info {
  background-color: #eff8fe;
}
/* line 67, ../style.scss */
.cs_message.cs_message_info p {
  color: #5db2f0 !important;
}
/* line 71, ../style.scss */
.cs_message.cs_message_info a, .cs_message.cs_message_info a:hover {
  color: #158ce3;
}
/* line 76, ../style.scss */
.cs_message.cs_message_alert {
  background-color: #fffae9;
}
/* line 79, ../style.scss */
.cs_message.cs_message_alert p {
  color: #f8ad0d;
}
/* line 83, ../style.scss */
.cs_message.cs_message_alert a, .cs_message.cs_message_alert a:hover {
  color: #ab7605;
}
/* line 88, ../style.scss */
.cs_message.cs_message_error {
  background-color: #ffeeee;
}
/* line 91, ../style.scss */
.cs_message.cs_message_error p {
  color: #fc5355;
}
/* line 95, ../style.scss */
.cs_message.cs_message_error a, .cs_message.cs_message_error a:hover {
  color: #c40306;
}
/* line 100, ../style.scss */
.cs_message.cs_message_success {
  background-color: #ebfaf5;
}
/* line 103, ../style.scss */
.cs_message.cs_message_success p {
  color: #38c994;
}
/* line 107, ../style.scss */
.cs_message.cs_message_success a, .cs_message.cs_message_success a:hover {
  color: #258763;
}

/* Buttons */
/* line 115, ../style.scss */
.cs_button {
  color: #ffffff !important;
  display: inline-block;
  text-align: center;
  margin: 0 0 10px 0;
}
/* line 122, ../style.scss */
.cs_button:hover {
  text-decoration: none !important;
}
/* line 126, ../style.scss */
.cs_button.cs_button_purple {
  background-color: #8e44ad;
}
/* line 129, ../style.scss */
.cs_button.cs_button_purple:hover {
  background-color: #5c2c70;
}
/* line 134, ../style.scss */
.cs_button.cs_button_blue {
  background-color: #3498db;
}
/* line 137, ../style.scss */
.cs_button.cs_button_blue:hover {
  background-color: #1c6a9e;
}
/* line 142, ../style.scss */
.cs_button.cs_button_turquoise {
  background-color: #1abc9c;
}
/* line 145, ../style.scss */
.cs_button.cs_button_turquoise:hover {
  background-color: #10715e;
}
/* line 150, ../style.scss */
.cs_button.cs_button_green {
  background-color: #27ae60;
}
/* line 153, ../style.scss */
.cs_button.cs_button_green:hover {
  background-color: #17693a;
}
/* line 158, ../style.scss */
.cs_button.cs_button_yellow {
  background-color: #f4d03f;
}
/* line 161, ../style.scss */
.cs_button.cs_button_yellow:hover {
  background-color: #e2b80d;
}
/* line 166, ../style.scss */
.cs_button.cs_button_orange {
  background-color: #e67e22;
}
/* line 169, ../style.scss */
.cs_button.cs_button_orange:hover {
  background-color: #a15512;
}
/* line 174, ../style.scss */
.cs_button.cs_button_red {
  background-color: #e74c3c;
}
/* line 177, ../style.scss */
.cs_button.cs_button_red:hover {
  background-color: #b82617;
}
/* line 182, ../style.scss */
.cs_button.cs_button_pink {
  background-color: #ffa8b4;
}
/* line 185, ../style.scss */
.cs_button.cs_button_pink:hover {
  background-color: #ff7588;
}
/* line 190, ../style.scss */
.cs_button.cs_button_grey {
  background-color: #7f8c8d;
}
/* line 193, ../style.scss */
.cs_button.cs_button_grey:hover {
  background-color: #566061;
}
/* line 198, ../style.scss */
.cs_button.cs_button_nightblue {
  background-color: #2c3e50;
}
/* line 201, ../style.scss */
.cs_button.cs_button_nightblue:hover {
  background-color: #0e1419;
}
/* line 206, ../style.scss */
.cs_button.cs_button_small {
  padding: 5px 10px;
}
/* line 210, ../style.scss */
.cs_button.cs_button_medium {
  padding: 10px 20px;
}
/* line 214, ../style.scss */
.cs_button.cs_button_large {
  padding: 15px 40px;
}

/* Tabs */
/* line 221, ../style.scss */
.cs_tabs {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
  box-sizing: border-box;
  border: 0;
  background: none;
}
/* line 230, ../style.scss */
.cs_tabs ul.nav {
  margin: 0 !important;
  padding: 0 !important;
  background: none;
  border: none;
}
/* line 237, ../style.scss */
.cs_tabs ul.nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  background: #ebeded;
  float: none;
  position: static;
  top: auto;
  border: none !important;
}
/* line 249, ../style.scss */
.cs_tabs ul.nav li.ui-tabs-active, .cs_tabs ul.nav li.ui-state-active {
  background: #ffffff;
}
/* line 253, ../style.scss */
.cs_tabs ul.nav li.ui-state-hover {
  background: #ffffff;
}
/* line 257, ../style.scss */
.cs_tabs ul.nav li:before {
  content: none;
}
/* line 261, ../style.scss */
.cs_tabs ul.nav li a {
  border: 1px solid #ebeded;
  border-bottom-color: #fff;
  position: relative;
  display: inline-block;
  padding: 10px 15px !important;
  float: none !important;
  text-decoration: none !important;
  color: #232323 !important;
  z-index: 10;
  cursor: pointer !important;
}
/* line 273, ../style.scss */
.cs_tabs ul.nav li a:focus {
  outline: none;
}
/* line 277, ../style.scss */
.cs_tabs ul.nav li a:hover {
  text-decoration: none;
}
/* line 284, ../style.scss */
.cs_tabs .cs_tab_content {
  border: 1px solid #ebeded;
  padding: 20px;
  top: -1px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}
/* line 293, ../style.scss */
.cs_tabs .cs_tab_content p:last-child {
  margin-bottom: 0;
}

/* Separators */
/* line 301, ../style.scss */
.cs_separator {
  margin: 30px 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 307, ../style.scss */
.cs_separator hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 0;
  background: none;
  border: none;
}
/* line 315, ../style.scss */
.cs_separator hr.cs_separator_solid {
  border-top: 2px solid #ebeded;
}
/* line 319, ../style.scss */
.cs_separator hr.cs_separator_dashed {
  border-top: 2px dashed #ebeded;
}
/* line 323, ../style.scss */
.cs_separator hr.cs_separator_dotted {
  border-top: 2px dotted #ebeded;
}
/* line 327, ../style.scss */
.cs_separator hr.cs_separator_double {
  border-top: 2px double #ebeded;
}

/* Toggle */
/* line 335, ../style.scss */
.cs_toggle {
  margin: 0 0 20px 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 341, ../style.scss */
.cs_toggle p.cs_toggle_button {
  background-color: #ffffff;
  border: 1px solid #ebeded;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 10px 15px;
  cursor: pointer;
}
/* line 351, ../style.scss */
.cs_toggle p.cs_toggle_button:before {
  content: '+';
  margin-right: 10px;
}
/* line 356, ../style.scss */
.cs_toggle p.cs_toggle_button:hover {
  background-color: #ebeded;
}
/* line 360, ../style.scss */
.cs_toggle p.cs_toggle_button.toggle-active {
  border-bottom: none;
  background-color: #ebeded;
}
/* line 363, ../style.scss */
.cs_toggle p.cs_toggle_button.toggle-active:before {
  content: '-';
}
/* line 368, ../style.scss */
.cs_toggle p.cs_toggle_button a {
  color: #232323 !important;
}
/* line 371, ../style.scss */
.cs_toggle p.cs_toggle_button a:hover {
  text-decoration: none;
}
/* line 377, ../style.scss */
.cs_toggle .cs_toggle_content {
  border: 1px solid #ebeded;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Call to action */
/* line 387, ../style.scss */
.cs_calltoaction {
  border: 1px solid #ebeded;
  padding: 20px;
  margin: 0 0 20px 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 394, ../style.scss */
.cs_calltoaction .cs_calltoaction_content {
  margin: 0 0 10px 0;
}
/* line 398, ../style.scss */
.cs_calltoaction .cs_button_calltoaction {
  color: #fff !important;
  padding: 10px 20px;
  margin: 0;
}
/* line 403, ../style.scss */
.cs_calltoaction .cs_button_calltoaction:hover {
  color: #fff !important;
}
/* line 408, ../style.scss */
.cs_calltoaction p:last-child {
  margin: 0;
}
