/* Commons */
/* line 2, scss/style.scss */
.cs_clear {
  clear: both;
}

/* Columns */
/* line 8, scss/style.scss */
.cs_column {
  float: left;
  margin-right: 4%;
  width: 100%;
}

/* line 14, scss/style.scss */
.cs_one_half {
  width: 48%;
}

/* line 18, scss/style.scss */
.cs_one_third {
  width: 31.33333%;
  margin-right: 3%;
}

/* line 23, scss/style.scss */
.cs_one_fourth {
  width: 23.5%;
  margin-right: 2%;
}

/* line 28, scss/style.scss */
.cs_two_thirds {
  width: 65.66666%;
}

/* line 32, scss/style.scss */
.cs_three_fourths {
  width: 72.5%;
}

/* line 36, scss/style.scss */
.cs_one_half.cs_column_middle {
  margin-right: 2%;
}

/* line 40, scss/style.scss */
.cs_column_last {
  margin-right: 0;
}

/* Messages box */
/* line 45, scss/style.scss */
.cs_message {
  padding: 30px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
/* line 50, scss/style.scss */
.cs_message p {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 55, scss/style.scss */
.cs_message a:hover {
  text-decoration: underline;
}
/* line 59, scss/style.scss */
.cs_message.cs_message_info {
  background-color: #eff8fe;
  color: #5db2f0;
}
/* line 63, scss/style.scss */
.cs_message.cs_message_info a, .cs_message.cs_message_info a:hover {
  color: #158ce3;
}
/* line 68, scss/style.scss */
.cs_message.cs_message_alert {
  background-color: #fffae9;
  color: #f8ad0d;
}
/* line 72, scss/style.scss */
.cs_message.cs_message_alert a, .cs_message.cs_message_alert a:hover {
  color: #ab7605;
}
/* line 77, scss/style.scss */
.cs_message.cs_message_error {
  background-color: #ffeeee;
  color: #fc5355;
}
/* line 81, scss/style.scss */
.cs_message.cs_message_error a, .cs_message.cs_message_error a:hover {
  color: #c40306;
}
/* line 86, scss/style.scss */
.cs_message.cs_message_success {
  background-color: #ebfaf5;
  color: #38c994;
}
/* line 90, scss/style.scss */
.cs_message.cs_message_success a, .cs_message.cs_message_success a:hover {
  color: #258763;
}

/* Buttons */
/* line 98, scss/style.scss */
.cs_button {
  color: #ffffff !important;
  display: inline-block;
  text-align: center;
  margin: 0 0 10px 0;
}
/* line 105, scss/style.scss */
.cs_button:hover {
  text-decoration: none !important;
}
/* line 109, scss/style.scss */
.cs_button.cs_button_purple {
  background-color: #8e44ad;
}
/* line 112, scss/style.scss */
.cs_button.cs_button_purple:hover {
  background-color: #5c2c70;
}
/* line 117, scss/style.scss */
.cs_button.cs_button_blue {
  background-color: #3498db;
}
/* line 120, scss/style.scss */
.cs_button.cs_button_blue:hover {
  background-color: #1c6a9e;
}
/* line 125, scss/style.scss */
.cs_button.cs_button_turquoise {
  background-color: #1abc9c;
}
/* line 128, scss/style.scss */
.cs_button.cs_button_turquoise:hover {
  background-color: #10715e;
}
/* line 133, scss/style.scss */
.cs_button.cs_button_green {
  background-color: #27ae60;
}
/* line 136, scss/style.scss */
.cs_button.cs_button_green:hover {
  background-color: #17693a;
}
/* line 141, scss/style.scss */
.cs_button.cs_button_yellow {
  background-color: #f1c40f;
}
/* line 144, scss/style.scss */
.cs_button.cs_button_yellow:hover {
  background-color: #a28309;
}
/* line 149, scss/style.scss */
.cs_button.cs_button_orange {
  background-color: #e67e22;
}
/* line 152, scss/style.scss */
.cs_button.cs_button_orange:hover {
  background-color: #a15512;
}
/* line 157, scss/style.scss */
.cs_button.cs_button_red {
  background-color: #e74c3c;
}
/* line 160, scss/style.scss */
.cs_button.cs_button_red:hover {
  background-color: #b82617;
}
/* line 165, scss/style.scss */
.cs_button.cs_button_pink {
  background-color: #ffcad1;
}
/* line 168, scss/style.scss */
.cs_button.cs_button_pink:hover {
  background-color: #ff7587;
}
/* line 173, scss/style.scss */
.cs_button.cs_button_grey {
  background-color: #7f8c8d;
}
/* line 176, scss/style.scss */
.cs_button.cs_button_grey:hover {
  background-color: #566061;
}
/* line 181, scss/style.scss */
.cs_button.cs_button_nightblue {
  background-color: #2c3e50;
}
/* line 184, scss/style.scss */
.cs_button.cs_button_nightblue:hover {
  background-color: #0e1419;
}
/* line 189, scss/style.scss */
.cs_button.cs_button_small {
  padding: 5px 10px;
}
/* line 193, scss/style.scss */
.cs_button.cs_button_medium {
  padding: 10px 20px;
}
/* line 197, scss/style.scss */
.cs_button.cs_button_large {
  padding: 15px 40px;
}
