/* Commons */
/* line 2, scss/style.scss */
.cs_clear {
  clear: both;
}

/* Columns */
/* line 8, scss/style.scss */
.cs_column {
  float: left;
  margin-right: 4%;
  width: 100%;
}

/* line 14, scss/style.scss */
.cs_one_half {
  width: 48%;
}

/* line 18, scss/style.scss */
.cs_one_third {
  width: 31.33333%;
  margin-right: 3%;
}

/* line 23, scss/style.scss */
.cs_one_fourth {
  width: 23.5%;
  margin-right: 2%;
}

/* line 28, scss/style.scss */
.cs_two_thirds {
  width: 65.66666%;
}

/* line 32, scss/style.scss */
.cs_three_fourths {
  width: 72.5%;
}

/* line 36, scss/style.scss */
.cs_one_half.cs_column_middle {
  margin-right: 2%;
}

/* line 40, scss/style.scss */
.cs_column_last {
  margin-right: 0;
}

/* Messages box */
/* line 45, scss/style.scss */
.cs_message {
  padding: 30px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
/* line 50, scss/style.scss */
.cs_message p {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 55, scss/style.scss */
.cs_message a:hover {
  text-decoration: underline;
}
/* line 59, scss/style.scss */
.cs_message.cs_info {
  background-color: #eff8fe;
  color: #5db2f0;
}
/* line 63, scss/style.scss */
.cs_message.cs_info a, .cs_message.cs_info a:hover {
  color: #158ce3;
}
/* line 68, scss/style.scss */
.cs_message.cs_alert {
  background-color: #fffae9;
  color: #f8ad0d;
}
/* line 72, scss/style.scss */
.cs_message.cs_alert a, .cs_message.cs_alert a:hover {
  color: #ab7605;
}
/* line 77, scss/style.scss */
.cs_message.cs_error {
  background-color: #ffeeee;
  color: #fc5355;
}
/* line 81, scss/style.scss */
.cs_message.cs_error a, .cs_message.cs_error a:hover {
  color: #c40306;
}
/* line 86, scss/style.scss */
.cs_message.cs_success {
  background-color: #ebfaf5;
  color: #38c994;
}
/* line 90, scss/style.scss */
.cs_message.cs_success a, .cs_message.cs_success a:hover {
  color: #258763;
}
